<form>
    <fieldset>
        <legend>Login</legend>
        <fieldset>
            <legend>Email</legend>
            <label>
                <input type="text" name="email" id="email">
            </label>
        </fieldset>
        <fieldset>
            <legend>Password</legend>
            <label>
                <input type="password" name="password" id="password">
            </label>
        </fieldset>
        <table>
            <tr>
            <td width="98%"><input type="submit" id="loginSubmit" value="Login Now"></td>
           <!-- <td><a href="#forgotpassword">Forgot Password?</a></td>-->
            <td><a href="#register">Sign_Up</a></td>
            </tr>
        </table>
    </fieldset>
</form>