<h1>Register</h1>
<form>
    <fieldset>
        <legend>Your Name</legend>
        <label>
            First:
            <input type="text" name="name" id="name"/>
        </label>
    </fieldset>
    <fieldset>
        <legend>Email Address</legend>
        <label>
            Email:
            <input type="text" name="email" id="email"/>
        </label>
    </fieldset>
    <fieldset>
        <legend>Password</legend>
        <label>
            Password:
           <input type="password" name="password" id="password"/>
        </label>
   </fieldset>
    <p>
        <input type="submit" id="registerSubmit" value="Register Now"/>
    <br/>
    <ul>
        <li><a href="#login">Login</a></li>
    </ul>
    </p>
</form>