<fieldset>
    <div>
        <div id="profileAvatar"><img src="<%= avatar%>" width="65" height="65" align="left" alt="avatar"></div>
        <div>
            <table>
                <tr id="profileName">
                    <td>Name:</td>
                    <td><%= name%></td>
                </tr>
                <tr id="profileEmail">
                    <td>Email:</td>
                    <td><%= email%></td>
                </tr>
                <tr id="profileBirthday">
                    <td>Birthday:</td>
                    <td><%= birthday%></td>
                </tr>
            </table>
            <button id="addFriend" name="<%= _id%>">Add friend</button>
            <button id="removeFriend" name="<%= _id%>">Remove friend</button>
        </div>
</fieldset>
